<h1><%= link_to "Peter Magazine", articles_path%></h1>  
<div style="display: flex">
<h1 style="display: flex">New</h1>
<h1> </h1>
<h1 style="display: flex"><%= @author.name %></h1>
<h1 style="display: flex">'s Article</h1>
</div>

<%= render "form", article: @article %>
