<h1><%= link_to "Peter Magazine", articles_path%></h1>   

<span>All Articles of </span>
<span> <%= @author.name %></span>
<ul>
  <% @author.articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<p><%= link_to "All Authors", authors_path %></p>


